<table width="70%" align="center">
    <tbody>
    <tr>
        <td
                width="100%"
                valign="middle"
                align="center"
                bgcolor="#2EB7EB"
                style="
            padding: 0 3rem;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 1px 7px 14px -13px rgba(0,0,0,0.98);

            ">


            <h1 style="color: #FFFFFF">Bonjour {{ username }} !</h1>
        </td>
    </tr>
    <tr>
        <td width="50%" align="left" style="padding:2rem;">
            <p>Votre compte à bien été créé !</p>

        </td>
    </tr>

    <tr>
        <td
            width="100%"
            valign="middle"
            align="center"
            bgcolor="#2EB7EB"
            style="
                padding: 0 3rem;
                border-radius: 10px 10px 10px 10px;
                box-shadow: 1px 7px 14px -13px rgba(0,0,0,0.98);
            ">
            <p style="
                color: #FFFFFF;
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: .1rem;
                ">Félicitations !</p>
        </td>
    </tr>
    </tbody>
</table>